# Backend
projectbackend/target/
projectbackend/.mvn/
projectbackend/mvnw
projectbackend/*.iml
projectbackend/.idea/
projectbackend/.settings/
projectbackend/.classpath
projectbackend/.project

# Frontend
project/node_modules/
project/dist/
project/.vite/
project/.env

# Call Server
call-server/node_modules/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
